
IndentWidth: '4'
NamespaceIndentation: All
SpacesInParentheses: 'true'
SpacesInSquareBrackets: 'true'

# indent preprocessing directives
IndentPPDirectives: AfterHash

#indent switch case statements
IndentCaseLabels: 'true'

#disable sorting of includes
SortIncludes: 'false'
